@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');.App{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background-color: rgb(221, 221, 195);
    height: 460px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
}
.Sidebar {
    margin: 5px;
    padding: 10px;
    width: 125px;
    background-color: rgb(57, 39, 75);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
    float: left;
    height: 430px;
}

.topRow {
    background-color: white;
    margin: 5px;
    padding: 10px;
    width: 125px;
    height: 150px;
    display: inline-flex;
    flex-direction: row;
}

.rev-img {
    background-image: url('/public/images/Review.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.rat-img {
    background-image: url('/public/images/stars.png');
    height: 20px;
    width: 70%;
}

.WebsiteVistiors {
    background-color: white;
    background-color: rgb(57, 39, 75);
    color: white;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 250px;
    width: auto;

}

.img-contain {
    background-image: url('/public/images/graph.png');
    height: 250px;
}
